/* Te būs stils*/
div {
    width: 100px;
    height: 100px;
    text-align: center;
    color: rgb(166, 226, 250);
    line-height: 100px;
    margin: 10px;
    }
    .pirmais {
       background-color: rgb(223, 121, 121); 
   }
   .otrais {
       background-color: rgb(143, 206, 143);
       position: relative;
 top: 50px; /* Pārvietosim par 50 pikseļiem uz leju */
 left: 50px; /* Pārvietosim par 50 pikseļiem pa labi */
       }
       .tresais {
       background-color: rgb(112, 215, 247);
       position: absolute;
 top: 100px; /* Novietosim to 100 pikseļu
attālumā no lapas augšas */
 left: 100px; /* Novietosim to 100 pikseļu
attālumā no lapas kreisās malas */
       } 
   .ceturtais {
   background-color: rgb(201, 99, 99); 
   }